<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
<body>
    <div class="container">
        <h1>Création d'un article</h1>
       <form method="post">
        <div class="form-group row">
            <label for="name" class="col-4 col-form-label">Name</label> 
            <div class="col-8">
            <input id="name" name="name" placeholder="Nom de l'article" type="text" class="form-control {% if errors.name is defined %}is-invalid{% endif %}" value="{{ formData.name }}">
            {% if errors.name is defined %}
            <div class="invalid-feedback">
                {{ messages.name }}
            </div>
            {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-4 col-form-label">Description of article</label> 
            <div class="col-8">
            <input id="description" name="description" placeholder="description de l'article" type="text" class="form-control {% if errors.description is defined %}is-invalid{% endif %}" value="{{ formData.description }}">
            {% if errors.description is defined %}
            <div class="invalid-feedback">
                {{ messages.description }}
            </div>
            {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-4 col-form-label">Price</label> 
            <div class="col-8">
            <input id="price" name="price" placeholder="Prix de l'article" type="text" class="form-control {% if errors.price is defined %}is-invalid{% endif %}" value="{{ formData.price }}">
            {% if errors.price is defined %}
            <div class="invalid-feedback">
                {{ messages.price }}
            </div>
            {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="quantity" class="col-4 col-form-label">Quantity</label> 
            <div class="col-8">
            <input id="quantity" name="quantity" placeholder="Quantité de l'article" type="text" class="form-control {% if errors.quantity is defined %}is-invalid{% endif %}" value="{{ formData.quantity }}">
            {% if errors.quantity is defined %}
            <div class="invalid-feedback">
                {{ messages.quantity }}
            </div>
            {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>